.div-text-centered {
  text-align: center;
}

a {
  text-decoration: none;
  margin: 6px 8px;
}
#nav a:hover {
  color: hotpink;
}

#nav {
  background-color: rgb(32, 161, 130);
  list-style-type: none;
  text-align: center;
  margin: 2px 4px 8px;
  padding: 4px;
  border-radius:6px;
}

#nav li {
  display: inline-block;
  font-size: 20px;
  padding: 12px 20px;
}

.body {
  background-image: linear-gradient(180deg, cornsilk, aqua, beige);
}

.heading {
  text-align: center;
}
.heading h2 {
  margin-top: -2px;
}
.heading h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 80px;
  position: relative;
  margin-top: -30px;
  letter-spacing: .1em;
}
.heading h3{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  margin-top:-50px;
}
/*
.heading h3 {
  margin-top:-50px;
}*/
.expla {
  line-height: 1.2;
  text-align: center;
  align-content: center;
  margin: auto;
  width:85%;
}
.expla h4 {
  margin:20px 100px;
}

#bumper-div {
  margin: auto;
  margin-top: -80px;
  width:75%;
  text-align: center;
  padding:6px;
}

#color-div {
background-color: rgb(30, 126, 205);
border-width: 4px;
border-color: rgb(94, 29, 176);
border-style:solid;
border-radius:4px;
/*animation-direction: alternate;
animation: mymove 5s infinite;*/
}

#bumper-vid {
  padding: 12px;
}

@keyframes mymove {
from {background-color: rgb(30, 126, 205);}
to {background-color: rgb(224, 112, 64);}
}

#mood-text {
  font-family: 'Trebuchet MS', sans-serif;
  color: cornsilk;
  font-weight:bold;
  background-color:rgb(10, 68, 128);
  margin: 12px;
  padding:4px;
  /*border: 2px solid rgb(218, 241, 246);*/
}

/*Page styling non index*/
.returnLinkDiv {
  margin:20px;
}
.returnLink {
  margin:20px;
}

.content-outline {
  margin:auto;
  width:85%;

}
.content-grid {
  display:grid;
  grid-template-columns: auto auto;
  /*background-color: rgb(224, 54, 190);*/
  padding: 12px;
}
.grid-video {
  text-align: center;
  background-color: rgb(235, 208, 113);
  border: 6px solid rgb(161, 58, 184);
  font-size: 2em;
  padding:20px;
  margin:4px;
}
.grid-video p {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Trebuchet MS', sans-serif;
}

/*Games page*/
#music-boxes-container {
  text-align: center;
  align-content: center;
  margin:auto;
  width:75%;
}
#music-boxes {
  display:grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(215, 128, 19);
  padding: 10px;
}
.music-box {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 2px solid;
  padding: 40px;
  text-align: center;
}
.music-box:hover {
  opacity: 0.5;

@keyframes decay {
from {opacity: .2;}
to {opacity: 1;}
}

#penta-present {
    color: white;
    font-size:1.2em;
    padding:12px;
    text-align: center;
}

}
#box1 {
  background-color: rgb(66, 148, 235);
}
#box2{
  background-color: rgb(176, 25, 43);
}
#box3{
  background-color: rgb(47, 219, 95);
}
#box4{
  background-color: rgb(64, 84, 65);
}
#box5{
  background-color: rgb(214, 214, 209);
}
#box6{
  background-color: rgb(238, 76, 237);
}
#box7{
  background-color: rgb(22, 244, 224);
}
#box8{
  background-color: rgb(35, 17, 120);
}
#box9{
  background-color: rgb(246, 174, 12);
}

#waveform-div {
  text-align: center;
}

#waveform-load-button-div {
  margin:20px;
}

#waveform-load-button {
  height:2em;
  background-color:rgb(213, 247, 4);
  border-radius: 6px;
  font-size:20px;
}

input {
  background-color:rgb(219, 72, 81);
  color:white;
  padding:8px;
  margin:8px;
  border-radius:6px;
  font-size:1.2em;
}

/*About Page*/
#about-content {
  text-align: center;
}
